button{
    background-color:red;
    border-radius: 20px;
   

}
div{
   
  background-color: red;
  width: 50vw;
  height: auto;
  position: relative;
  animation: myfirst 5s 2;
  animation-direction: alternate;
  text-align: center;
  border-radius: 250px;
    
}
@keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
  h1{
    text-decoration: underline;
  }